:root {
  --black-basic: #000000;
  --dark-basic: #333333;
  --white-basic: #ffffff;
  --blue-basic: #81B3D2;
  --blue-medium: #669EC0;
  --blue-extra: #5496BD;
  --gray-basic: #EEEEEE;
  --brown-basic: #766357;
  --brown-medium: #604E43;
  --brown-extra: #503E33;
  --body-background: #F2F2F2;
}

/* Global */

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black-basic);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  background-color: var(--body-background);
  padding: 0 40px;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--white-basic);
}

/*Header*/

.menu-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 54px;
  list-style: none;
}

.menu-navigation li {
  margin: 0;
  padding: 0;
}

.menu-navigation a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: var(--black-basic);
  margin: 0;
  padding: 18px;
}

.menu-navigation a:hover {
  color: var(--blue-basic);
}

.menu-navigation a:active {
  color: var(--black-basic);
  opacity: 0.3;
}

.menu-navigation .active-page {
  color: var(--brown-basic);
}

.menu-navigation li:first-child {
  margin-right: 99px;
}

.menu-navigation li:nth-child(2) {
  margin-right: 382px;
}

.menu-navigation li:last-child {
  margin-left: 110px;
}

.menu-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

/*Footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 23px 0 33px 153px;
  text-align: center;
}

.contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.contacts a {
  color: var(--black-basic);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 13px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue-basic);
  margin: 3px;
}

.social-button:hover {
  background-color: var(--blue-medium);
}

.social-button:active {
  background-color: var(--blue-extra);
}

.social-button:active path{
  opacity: 0.3;
}

.developer {
  margin: 0;
  padding: 43px 131px 41px 0;
  display: flex;
  align-items: center;
}

.developer-link:hover path {
  fill: var(--blue-basic);
}

.developer-link:active path {
  fill: #BDBBBC;
}

.developer p {
  margin: 0 15px 5px 0;
}

.map {
  position: relative;
}

.footer-index {
  position: absolute;
  top: 2642px;
}

/*Main-index*/

.description-conteiner {
  display: flex;
  flex-direction: column;
}

.description-conteiner h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 33px 0 48px;
  padding: 0 365px;
}

.description-conteiner p {
  text-align: center;
  margin: 0 0 55px;
  padding: 0;
}

.description-conteiner h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.reasons {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reason-1,
.reason-2 {
  display: flex;
  justify-content: space-between;
}

.reason-1 div,
.reason-2 div {
  color: var(--white-basic);
  background-color: var(--blue-basic);
  text-align: center;
}

.reason-1 h3 {
  padding: 46px 137px 25px;
  margin: 0;
}

.reason-2 h3 {
  padding: 50px 120px 27px;
  margin: 0;
}

.reason-1 p {
  padding: 25px 45px 54px;
  margin: 0;
}

.reason-2 p {
  padding: 23px 40px 51px;
  margin: 0;
}

.reason-1-description {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 49px 65px 83px 73px;
  margin: 0;
}

.reason-1-description li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-1-description img {
  margin: 0 0 19px;
}

.reason-1-description li:nth-child(2) {
  padding-left: 10px;
}

.reason-1-description h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 26px;
  padding: 0;
}

.reason-1-description p {
  margin: 0;
  padding: 0;
}

.reason-others {
  margin: 0;
  padding: 47px 0 55px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-basic);
}

.reason-others li {
  text-align: center;
}

.reason-others h3 {
  margin: 0 150px 25px;
  padding: 0;
  line-height: 21px;
}

.reason-others p {
  margin: 24px 0 0;
  line-height: 21px;
}

.reason-3 h3 {
  margin: 0 140px 25px;
}

.reason-3 p {
  padding: 0 95px;
}

.reason-4 p {
  padding: 0 67px;
}

.reason-5 p {
  padding: 0 75px;
}

.search-hotel {
  margin: 0;
  padding: 0;
}

.search-hotel span {
  font-size: 30px;
  font-weight: 700;
  margin-top: 58px;
  margin-bottom: 36px ;
  text-align: center;
  display: block;
}

.search-hotel p {
  text-align: center;
  line-height: 24px;
  padding: 0;
  margin: 0 0 45px;
}

.modal-open-button {
  display: block;
  margin: 0 316px;
  padding: 32px 125px;
  text-align: center;
  background-color: var(--brown-basic);
  color: var(--white-basic);
  font-size: 21px;
  font-weight: 700;
}

.modal-open-button:hover {
  background-color: var(--brown-medium);
}

.modal-open-button:active {
  background-color: var(--brown-extra);
  color: rgba(255, 255, 255, 0.3 );
}

/*Modal*/

.modal {
  display: none;
}

.modal-show {
  padding: 55px;
  margin: 0 315px 0 316px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
  background-color: var(--white-basic);
  position: absolute;
  top: 2170px;
  z-index: 3;
}

.modal-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal-form label,
.modal-form input::placeholder {
  font-weight: 700;
  color: var(--black-basic);
  text-transform: uppercase;
}

.modal-form input {
  background-color:#F2F2F2;
  border: none;
}

.modal-form input:hover {
  background-color:#EBEBEB;
  border: none;
}

.modal-form input:focus {
  background-color: var(--white-basic);
  border: 2px solid #E5E5E5;
}

.modal-form p {
  margin: 0 0 32px;
  padding: 0;
  display: flex;
  align-items: center;
}

.form-date {
  padding: 11px 136px 11px 15px;
  margin: 0 0 0 21px;
}

.form-date:focus {
  padding: 9px 134px 9px 13px;
}

.form-number {
  width: 38px;
  height: 38px;
  text-align: center;
  padding: 0;
}

.form-number:focus {
  width: 34px;
  height: 34px;
}

.button-calendar {
  width: 38px;
  height: 38px;
}

.button-minus {
  width: 38px;
  height: 38px;
}

.button-plus {
  width: 38px;
  height: 38px;
}

.button-form {
  cursor: pointer;
  border: none;
  padding: 0;
  background-color:#F2F2F2;
  text-align: center;
}

.button-form:hover path {
  fill: var(--black-basic);
}

.button-form:active path {
  fill: var(--blue-basic);
}

.button-form:hover rect {
  fill: var(--black-basic);
}

.button-form:active rect {
  fill: var(--blue-basic);
}

.button-search {
  border: none;
  font-weight: 700;
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  color: var(--white-basic);
  padding: 17px 196px;
  margin: 0;
  background-color: var(--blue-basic);
}

.button-search:hover {
  background-color: var(--blue-medium);
}

.button-search:active {
  background-color: var(--blue-extra);
  color: rgba(255, 255, 255, 0.3)
}

.people-quantity {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0 0 54px;
  width: 458px;
}

.people-quantity label:first-child {
  margin-right: 40px;
}

.people-quantity .form-label-children {
  margin-right: 26px;
  margin-left: 56px;
}

/*Catalog-filter*/

.filter {
  background-image: url("../img/background-filter.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: var(--white-basic);
  padding: 0;
}

.filter-form {
  display: flex;
  padding: 25px 73px 8px 72px;
}

.filter-form fieldset {
  border: none;
  font-size: 16px;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

.filter-form fieldset:first-child {
  margin-right: 118px;
}

.filter-form fieldset:last-child {
  margin-left: 350px;
}

.filter-checkbox ul {
  list-style: none;
  margin-top: 25px;
  padding-left: 40px;
}

.filter-checkbox-options {
  padding: 0;
  margin: 0 0 25px;
}

.filter-checkbox label {
  font-size: 14px;
  font-weight: 400;

}

.filter-checkbox-options label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -40px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.input-checkbox:checked:disabled + label::before,
.input-checkbox:disabled + label::before {
  opacity: 0.2;
}

.range-filter {
  width: 316px;
}

.range-controls {
  position: relative;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
}

.range-controls .bar {
  width: 83%;
  height: 2px;
  background: var(--white-basic);
}

.range-controls .toggle {
  position: absolute;
  top: -10px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  cursor: pointer;
}

.price-controls {
  border: 2px solid var(--white-basic);
  box-sizing: border-box;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 10px 0 20px;
  position: relative;
}

.price-controls input {
  background: none;
  width: 138px;
  padding: 7px 10px 9px;
  margin: 0;
  border: none;
  color: var(--white-basic);
  text-align: center;
}

.price-controls:after {
  content: "";
  position: absolute;
  left: 156px;
  top: 6px;
  width: 2px;
  height: 22px;
  background-color: var(--white-basic);
}

.price-controls input::placeholder {
  text-align: center;
  text-transform: uppercase;
  color: var(--white-basic);
}

.range-controls .toggle-max {
  left: 251px;
}

.button-filter {
  margin: 33px 80px 0 82px;
  padding: 5px 30px 7px;
  border: 2px solid var(--white-basic);
  box-sizing: border-box;
  border-radius: 2px;
  background: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: var(--white-basic);
}

.button-filter:hover {
  background-color: var(--white-basic);
  color: var(--black-basic);
}

/*Catalog content*/

.catalog-search {
  padding: 8px 0 15px;
  margin-left: 73px;
  display: flex;
  align-items: center;
}

.catalog-search p {
  font-size: 12px;
}

.sorting-box ul {
  list-style: none;
}

.sorting-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  width: 823px;
}

.sorting-text {
  display: flex;
  padding: 0 25px;
  margin: 0;
}

.sorting-icon {
  display: flex;
  padding: 0;
  margin: 7px 0 0 30px;
}

.sorting-icon li {
  padding: 6px;
}

.catalog-search .search-results {
  font-size: 21px;
  font-weight: 700;
  margin-right: 46px;
}

.sorting-text {
  font-size: 12px;
}

.sorting-text li {
  margin: 16px;
}

.sorting-text a {
  color: rgba(0, 0, 0, 0.3);
  display: block;
  padding: 0;
  border-bottom: 1px dashed var(--blue-basic);
}

.sorting-text a:hover {
  color: var(--blue-basic);
}

.sorting-text a:active {
  color: var(--black-basic);
  border: none;
}

.sorting-text .sorting-text-checked {
  color: var(--blue-basic);
  border: none;
}

.sorting-icon-item path {
  opacity: 0.3;
}

.sorting-icon-item:hover path {
  opacity: 1;
}

.sorting-icon-item:active path,
.sorting-icon-checked path {
  opacity: 1;
  fill: var(--blue-basic);
}

/*Hostel-list*/

.hostel-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.hostel-list img {
  margin-top: 10px;
}

.hostel-list li {
  padding: 18px 73px 32px;
  margin: 0;
  border-top: 1px solid #E5E5E5;
  display: flex;
  align-items: center;
}

.hostel-list li:last-child {
  border-bottom: 1px solid #E5E5E5;
}

.hostel-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0 0 29px;
  width: 890px;
}

.hostel-description h3 {
  margin: 0;
  padding: 0;
}

.hostel-description a {
  font-weight: 700;
  color: var(--white-basic);
  padding: 4px 16px 4px 17px;
  margin-right: 3px;
}

.hostel-description .hostel-name {
  font-size: 21px;
  font-weight: 700;
  color: var(--black-basic);
  padding: 0;
}

.hostel-description .hostel-name:active {
  color: var(--black-basic);
  opacity: 0.3;
}

.hostel-description .hostel-name:hover {
  color: var(--blue-basic);
}

.hostel-description .details {
  background-color: var(--blue-basic);
}

.hostel-description .details:hover {
  background-color: var(--blue-medium);
}

.hostel-description .details:active {
  background-color: var(--blue-extra);
  color: rgba(255, 255, 255, 0.3);
}

.hostel-description .book {
  background-color: var(--brown-basic);
}

.hostel-description .book:hover {
  background-color: var(--brown-medium);
}

.hostel-description .book:active {
  background-color: var(--brown-extra);
  color: rgba(255, 255, 255, 0.3);
}

.hostel-description-raiting {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 120px;
}

.star-raiting {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  border: none;
}

.star-raiting-icon {
  width: 19px;
  height: 17px;
  margin: 2px;
  background-image: url("../img/star.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  padding: 0;
}

.hostel-description-raiting p {
  padding: 3px 12px 3px 15px;
  margin: 47px 0 0 10px;
  color: #666666;
  background-color: #F2F2F2;
}

.prise {
  margin: 8px 0 18px 0;
  padding: 0;
  width: 177px;
  display: flex;
  justify-content: space-between;
}

.prise p {
  margin: 0;
  padding: 0;
}
