:root {
  --black-basic: #000000;
  --dark-basic: #333333;
  --white-basic: #ffffff;
  --blue-basic: #81B3D2;
  --gray-basic: #EEEEEE;
  --brown-basic: #766357;
  --brown-medium: #604E43;
  --browm-extra: #503E33;
}

/* Global */

.page-body {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--black-basic);
  background-color: var(--white-basic);
  text-transform: uppercase;
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}

/*Header*/

.menu-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 54px;
  list-style: none;
}

.menu-navigation li {
  margin: 0;
  padding: 0;
}

.menu-navigation a {
  display: block;
  font-weight: 700;
  text-decoration: none;
  color: var(--black-basic);
  margin: 0;
  padding: 18px;
}

.menu-navigation a:hover {
  color: var(--blue-basic);
}

.menu-navigation a:active {
  color: var(--black-basic);
  opacity: 0.3;
}

.menu-navigation .active-page {
  color: var(--brown-basic);
}

.menu-navigation li:first-child {
  margin-right: 99px;
}

.menu-navigation li:nth-child(2) {
  margin-right: 382px;
}

.menu-navigation li:last-child {
  margin-left: 110px;
}

.menu-logo {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -69px;
}

/*Footer*/

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.9);
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  padding: 23px 0 33px 153px;
  text-align: center;
}

.contacts p {
  padding: 0;
  margin: 0;
  margin-bottom: 9px;
}

.contacts a {
  color: var(--black-basic);
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0 0 0 13px;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: var(--blue-basic);
  margin: 3px;
}

.developer {
  margin: 0;
  padding: 43px 131px 41px 0;
  display: flex;
  align-items: center;
}

.developer p {
  margin: 0 15px 5px 0;
}

.footer-index {
  position: absolute;
  top: 2642px;
}

/*Main-index*/

.welcome-conteiner {
  background-image: url("../img/background-photo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.welcome-title {
  margin: 77px 0 51px;
}

.welcome-description {
  margin-bottom: 25px;
}

.description-conteiner {
  display: flex;
  flex-direction: column;
}

.description-conteiner h2 {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  margin: 41px 0 46px;
  padding: 0 365px;
}

.description-conteiner p {
  text-align: center;
  margin: 0 0 55px;
  padding: 0;
}

.description-conteiner h3 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
}

.reason-1,
.reason-2 {
  display: flex;
  justify-content: space-between;
}

.reason-1 div,
.reason-2 div {
  color: var(--white-basic);
  background-color: var(--blue-basic);
  text-align: center;
}

.reason-1 h3 {
  padding: 46px 137px 25px;
  margin: 0;
}

.reason-2 h3 {
  padding: 50px 120px 25px;
  margin: 0;
}

.reason-1 p {
  padding: 23px 45px 54px;
  margin: 0;
}

.reason-2 p {
  padding: 23px 40px 51px;
  margin: 0;
}

.reason-1-description {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 49px 65px 83px 73px;
  margin: 0;
}

.reason-1-description li {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reason-1-description img {
  margin: 0 0 19px;
}

.reason-1-description li:nth-child(2) {
  padding-left: 10px;
}

.reason-1-description h4 {
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0 0 26px;
  padding: 0;
}

.reason-1-description p {
  margin: 0;
  padding: 0;
}

.reason-others {
  margin: 0;
  padding: 45px 0 56px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  background-color: var(--gray-basic);
}

.reason-others li {
  text-align: center;
  width: 400px;
}

.reason-others h3 {
  margin: 0 140px 27px;
  padding: 0;
}

.reason-others p {
  padding: 0;
  margin: 23px 0 0;
}

.search-hotel {
  margin: 0;
  padding: 0;
}

.search-hotel span {
  font-size: 30px;
  font-weight: 700;
  margin: 55px 457px 36px 446px;
  display: block;
}

.search-hotel p {
  text-align: center;
  line-height: 24px;
  padding: 0 382px;
  margin: 0 0 45px;
}

.modal-open-button {
  display: block;
  padding: 32px 125px;
  margin: 0 316px;
  text-align: center;
  background-color: var(--brown-basic);
  color: var(--white-basic);
  font-size: 21px;
  font-weight: 700;
}

.modal-open-button:hover {
  background-color: var(--brown-medium);
}

.modal-open-button:active {
  background-color: var(--browm-extra);
  color: rgba(255, 255, 255, 0.3 );
}

/*Modal*/

.modal {
  padding: 55px;
  margin: 0 315px;
  box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

.modal-form label,
.modal-form input::placeholder {
  font-weight: 700;
  color: var(--black-basic);
  text-transform: uppercase;
}

.modal-form input {
  background-color:#F2F2F2;
  border: none;
}

.modal-form input:hover {
  background-color:#EBEBEB;
  border: none;
}

.modal-form input:focus {
  background-color: var(--white-basic);
  border: 2px solid #E5E5E5;
}

.modal-form p {
  margin: 0 0 30px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-date {
  padding: 10px 177px 10px 13px;
}

.form-number {
  width: 37px;
  text-align: center;
}

.form-date:focus {
  padding: 8px 174px 8px 11px;
}

.button-number {

}